LLAMA_CLOUD_API_KEY=
FIRECRAWL_API_KEY=
VOYAGE_API_KEY=
GEMINI_API_KEY=
DATABASE_URL=

VOYAGE_EMBED_MODEL=voyage-multimodal-3.5
VOYAGE_RERANK_MODEL=rerank-2.5
GEMINI_MODEL=gemini-3.1-flash-lite
SPLADE_MODEL=naver/splade-cocondenser-ensembledistil